@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about home </p>
    <button type="submit" id="button1" name="button1" ng-click="">table</button>
</div>
